<!DOCTYPE html>
<html>
  <head>
    <title>Groupie Tracker</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <img src="logo.png" alt="Logo" />
        <a href="/" class="nav-link">Accueil</a>
        <a href="/artists" class="nav-link"
          ><i class="fa-solid fa-music"></i> Artistes</a
        >
      </nav>
    </header>
    <div class="main">
      <div id="texteAnime">GROUPIE TRACKER</div>
      <a href="/artists"><button>Voir les artistes</button></a>
    </div>
    <script src="/static/js/script.js" defer></script>
  </body>

  <footer>
    <div>
      <h3>Groupie Tracker</h3>
    </div>
    <div>
      <p>
        Trouvez et suivez vos groupes de musique préférés en toute simplicité.
      </p>
    </div>
    <div>
      <a href="#" class="footer-link">À propos</a>
      <a href="#" class="footer-link">Contact</a>
    </div>
    <div>
      <p>&copy; 2024 Groupie Tracker. Tous droits réservés.</p>
    </div>
  </footer>
</html>
